attrs==19.3.0
backcall==0.1.0
blis==0.4.1
brotlipy==0.7.0
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
cymem==2.0.3
decorator==4.4.2
docopt==0.6.2
filelock==3.0.12
idna==2.9
importlib-metadata==1.6.0
ipdb==0.13.2
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
joblib==0.15.1
jsonschema==3.2.0
murmurhash==1.0.0
nltk==3.5
numpy==1.18.1
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
plac==0.9.6
preshed==3.0.2
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.14
requests==2.23.0
sacremoses==0.0.43
scikit-learn==0.22.1
scipy==1.4.1
sentencepiece==0.1.91
six==1.14.0
spacy==2.2.4
srsly==1.0.2
thinc==7.4.0
tokenizers==0.7.0
torch==1.4.0
tqdm==4.46.0
traitlets==4.3.3
transformers==2.10.0
urllib3==1.25.9
wasabi==0.6.0
wcwidth==0.1.9
zipp==3.1.0
